[submodule "vendor/oh-my-pi"]
	path = vendor/oh-my-pi
	url = https://github.com/can1357/oh-my-pi.git
[submodule "vendor/obsidian-releases"]
	path = vendor/obsidian-releases
	url = https://github.com/obsidianmd/obsidian-releases.git
